<head>
    <link rel="stylesheet" href="../deltastyle.css">
</head>
            <div class="box">
                <ul>
                    
                    <li><a href="index.html">home</a></li>
                    <li><a href="faves.html">about</a></li>
                    <li><a href="links.html">links out</a></li>
                    <li><a href="graphics.html">graphics</a></li>
                    <li><a href="deltarchive.html">theories</a></li>
                    <li><a href="music.html">music</a></li>
                    <li><a href="post.html">posts</a></li>
                    <!--<li><a href="portal.html">HLM</a></li>-->
                </ul>
            </div>